[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.8.1"
torchvision = "==0.9.1"
tqdm = "*"
scipy = "*"
sklearn = "*"
pandas = "*"
torchsummary = "*"
xgboost = "*"
opencv-python = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
