[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
tqdm = "*"
sklearn = "*"
pytorch-lightning = "*"
torchmetrics = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
